/* ┌──────────────────────────────┐
   │           General            │
   └──────────────────────────────┘ */

@font-face {
	font-family: Raleway;
	src: url(../../recursos/fonts/Raleway/Raleway-Regular.ttf);
}

#defaultCanvas0, body {
	position: absolute;
	top: 0;
	left: 0;
}

#defaultCanvas0, body {
	z-index: -1;
}

body {
	padding: 50px;
	margin: 0;
	height: calc(100vh - 100px);
	width: calc(100vw - 100px);
	overflow: hidden;
	background-color: #141414;
}

p, button, label, h1, h2, h3 { font-family: 'Raleway', 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; }



/* ┌──────────────────────────────┐
   │            Layout            │
   └──────────────────────────────┘ */

#controllersContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

#varsControllersContainer, #algorithmSelectorsContainer {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 100%;
}

#varsControllersContainer>*, #algorithmSelectorsContainer>* {
	width: 100%;
}

/*#algorithmSelectorsContainer button {
	height: 50px;
}*/

@media (max-width: 650px) {
	#controllersContainer {
		flex-direction: column;
	}

	#algorithmSelectorsContainer {
		flex-direction: row;
	}

	#varsControllersContainer, #algorithmSelectorsContainer {
		width: 100%;
		height: max-content;
	}
}



/* ┌──────────────────────────────┐
   │           Elements           │
   └──────────────────────────────┘ */

input[type=range] {
	height: 4px;
	-webkit-appearance: none;
	margin-bottom: 25px;
	width: 100%;
	border-radius: 5px;
	background: hsla(315, 80%, 60%, .3);
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track, input[type=range]::-moz-range-track, input[type=range]::-ms-track, input[type=range]:focus::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	border: none;
}
input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb {
	border: none;
	height: 12px;
	width: 12px;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -5px;
	border-radius: 50%;
	background: hsla(315, 80%, 60%, .5);
}

input[type=range]:nth-child(1) { background: hsla(0,   80%, 60%, .3); } input[type=range]:nth-child(1)::-webkit-slider-thumb, input[type=range]:nth-child(1)::-moz-range-thumb { background: hsla(0,   80%, 60%, .5); }
input[type=range]:nth-child(2) { background: hsla(45,  80%, 60%, .3); } input[type=range]:nth-child(2)::-webkit-slider-thumb, input[type=range]:nth-child(2)::-moz-range-thumb { background: hsla(45,  80%, 60%, .5); }
input[type=range]:nth-child(3) { background: hsla(90,  80%, 60%, .3); } input[type=range]:nth-child(3)::-webkit-slider-thumb, input[type=range]:nth-child(3)::-moz-range-thumb { background: hsla(90,  80%, 60%, .5); }
input[type=range]:nth-child(4) { background: hsla(135, 80%, 60%, .3); } input[type=range]:nth-child(4)::-webkit-slider-thumb, input[type=range]:nth-child(4)::-moz-range-thumb { background: hsla(135, 80%, 60%, .5); }
input[type=range]:nth-child(5) { background: hsla(180, 80%, 60%, .3); } input[type=range]:nth-child(5)::-webkit-slider-thumb, input[type=range]:nth-child(5)::-moz-range-thumb { background: hsla(180, 80%, 60%, .5); }
input[type=range]:nth-child(6) { background: hsla(225, 80%, 60%, .3); } input[type=range]:nth-child(6)::-webkit-slider-thumb, input[type=range]:nth-child(6)::-moz-range-thumb { background: hsla(225, 80%, 60%, .5); }
input[type=range]:nth-child(7) { background: hsla(270, 80%, 60%, .3); } input[type=range]:nth-child(7)::-webkit-slider-thumb, input[type=range]:nth-child(7)::-moz-range-thumb { background: hsla(270, 80%, 60%, .5); }


button {
	margin: 10px 0;
	padding: 15px;
	border-radius: 100px;
	font-size: 14pt;
	color: #F8F8F8AA;
	background-color: #FFFFFF00;
	border: 3.5px solid hsla(315, 80%, 60%, .3);
}

button:nth-child(1) { border-color: hsla(0,   80%, 60%, .3); } button:nth-child(1):hover, button:nth-child(1).selected { border-color: hsla(0,   80%, 60%, .6); }
button:nth-child(2) { border-color: hsla(45,  80%, 60%, .3); } button:nth-child(2):hover, button:nth-child(2).selected { border-color: hsla(45,  80%, 60%, .6); }
button:nth-child(3) { border-color: hsla(90,  80%, 60%, .3); } button:nth-child(3):hover, button:nth-child(3).selected { border-color: hsla(90,  80%, 60%, .6); }
button:nth-child(4) { border-color: hsla(135, 80%, 60%, .3); } button:nth-child(4):hover, button:nth-child(4).selected { border-color: hsla(135, 80%, 60%, .6); }
button:nth-child(5) { border-color: hsla(180, 80%, 60%, .3); } button:nth-child(5):hover, button:nth-child(5).selected { border-color: hsla(180, 80%, 60%, .6); }
button:nth-child(6) { border-color: hsla(225, 80%, 60%, .3); } button:nth-child(6):hover, button:nth-child(6).selected { border-color: hsla(225, 80%, 60%, .6); }
button:nth-child(7) { border-color: hsla(270, 80%, 60%, .3); } button:nth-child(7):hover, button:nth-child(7).selected { border-color: hsla(270, 80%, 60%, .6); }
