@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');*/

body {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	/*cursor:none;*/
}

#defaultCanvas0 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

p, button, h1, h2, h3 { font-family: 'Raleway', 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif; }

#controllersContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 50px
}

#controllersContainer div * {
	display: block;
	margin: 10px;
	width: 250px
}

#buttonContainer button {
	border: 1px solid #F8F8F8;
	border-left: none;
	border-right: none;
	color: #F8F8F8;
	font-size: 14pt;
	background: #0000;
	padding: 10px 20px
}

#buttonContainer button:hover, #buttonContainer button.selected {
	border-color: #000000;
}

@media (max-width: 600px) {
	#buttonContainer button {
		width: 100px; display: inline-block; margin: 5px
	}
	#sliderContainer input {
		width: 100%; margin: 15px 0
	}
	#buttonContainer {
		text-align: center;
	}
	#controllersContainer div {
		width: 100%
	}
	#controllersContainer {
		flex-direction: column;
		margin: 20px;
		height: calc(100vh - 40px);
	}
}