@font-face {
	font-family: PoiretOne;
	src: url(../../recursos/fonts/Poiret_One/PoiretOne-Regular.ttf);
}

body {
	padding: 0;
	margin: 0;
	height: 100vh; width: 100vw;
	overflow: hidden;
	background-color: #121212;
}

canvas {
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
}

#controlsContainer {
	margin: 20px auto;
	width: max-content;
}








#controlsContainer>button {
	position: relative;
	width: 150px; height: 150px;
	margin: 0 50px;
	z-index: 2;

	font-size: 14pt;
	font-family: 'PoiretOne', 'Segoe UI Light', 'Segoe UI', Arial, Helvetica, sans-serif;

	color: #F8F8F8;
	border: none;
	outline: none;
}

#controlsContainer>button {
	background: linear-gradient(45deg, hsla(180, 70%, 45%, 30%) 0%, hsla(30, 70%, 45%, 30%) 100%);
}

#controlsContainer>button:hover, #controlsContainer>button.selected, #controlsContainer>button:hover:before, #controlsContainer>button.selected:before, #controlsContainer>button:hover:after, #controlsContainer>button.selected:after {
	animation-name: colorize;
}

#controlsContainer>button:before, #controlsContainer>button:after {
	/* ... */
}

#controlsContainer>button:before {
	/* ... */
}
#controlsContainer>button:after {
	/* ... */
}

@keyframes colorize {
	0% { /* ... */ }
  100% { /* ... */ }
}
